@charset "UTF-8";
/* CSS Document */

h1 {
    font-size: 1.5em;
	text-align:center;
}
ul {
    padding: 10px;
	text-align:center;
}
.done {
    text-decoration: line-through;
}
h2{
	align-content:center;
	text-align:center;
	color:#3BDCB9;
}
input{
	width: 80%;
	}